extends layout

block vars
  - var bodyClass = "article-page"
  if page.metadata.mathjax
    - var mathjax = true
  
block append head
  script(type='application/ld+json').
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "name": "#{locals.name}",
      "description": "#{locals.description}",
      "headline": "#{locals.name}",
      "publisher": {
        "@type": "Organization",
        "name": "#{locals.name}",
        "logo": "#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}"
      },
      "author": {
        "@type": "Person",
        "name": "#{locals.owner}"
      },
      "url": "#{page.getUrl(locals.url)}",
      "image": {  
        "@type": "ImageObject",
        "contentUrl": "#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}",
        "url": "#{locals.url}",
        "width": "258",
        "height": "267"
       },
      "mainEntityOfPage": {  
        "@type": "WebPage",
        "@id": "#{locals.url}"
      }
    }

block title
  | #{page.title} | #{locals.name} | علی موسوی

block content
  div.container.body-container
    .list-articles
      article.article.full(itemscope itemtype="http://schema.org/BlogPosting")
        .row
          .col-md-2.hidden-xs.hidden-sm.meta.meta-sidebar
            .date.text-muted
              i.fa.fa-calendar
              span(itemprop="datePublished" content="#{page.date.getFullYear()}-#{('0' + (page.date.getMonth()+1)).slice(-2)}-#{('0' + page.date.getDate()).slice(-2)}")
                = moment.utc(page.date).format('jDD jMMMM jYYYY')
            .read-time.text-muted
              i.fa.fa-clock-o
              - var readTime = Math.ceil(page.html.replace(/<(?:.|\n)*?>/gm, '').split(' ').length / 275).toLocaleString('fa-IR')
              span!= readTime + ' دقیقه مطالعه' 
            .comments.text-muted
              i.fa.fa-comment
              if locals.commentingSystem == "disqus"
                a(href='#disqus_thread') نظر دهید
              else if locals.commentingSystem == "staticman"
                - var postID = page.getFilename().split("/").slice(-2)[0]
                - var postComments = contents.comments ? contents.comments[postID] : null
                if postComments
                  a(href='#comments') #{Object.keys(postComments).length.toLocaleString('fa-IR')} دیدگاه
                else
                  a(href='#comment-form') نظر دهید
              
          .col-md-8.col-sm-12(role="main")
            header
              h2
                a(href=page.url)
                  span(itemprop="headline name")= page.title
              .meta.hidden-md.hidden-lg.text-muted
                i.fa.fa-calendar
                span(itemprop="datePublished" content="#{page.date.getFullYear()}-#{('0' + (page.date.getMonth()+1)).slice(-2)}-#{('0' + page.date.getDate()).slice(-2)}")
                  = moment.utc(page.date).format('jDD jMMMM jYYYY')
                span.seperator -
                i.fa.fa-clock-o
                - var readTime = Math.ceil(page.html.replace(/<(?:.|\n)*?>/gm, '').split(' ').length / 275).toLocaleString('fa-IR')
                span!= readTime + ' دقیقه مطالعه' 
                .comments
                  i.fa.fa-comment
                  if locals.commentingSystem == "disqus"
                    a(href='#disqus_thread') نظر دهید
                  else if locals.commentingSystem == "staticman"
                    - var postID = page.getFilename().split("/").slice(-2)[0]
                    - var postComments = contents.comments ? contents.comments[postID] : null
                    if postComments
                      a(href='#comments') #{Object.keys(postComments).length.toLocaleString('fa-IR')} دیدگاه
                    else
                      a(href='#comment-form') نظر دهید
            section.content
              meta(itemprop="articleBody" content="#{page.html}")
              != typogr(page.html).typogrify()
        
        //- more structured data for better page crawling by search enginess
        meta(itemprop="url" content="#{page.getUrl(locals.url)}")
        meta(itemprop="mainEntityOfPage" itemscope itemType='https://schema.org/WebPage' content="#{locals.url}")
        meta(itemprop="dateModified" content="#{page.date.getFullYear()}-#{('0' + (page.date.getMonth()+1)).slice(-2)}-#{('0' + page.date.getDate()).slice(-2)}")
        span(itemprop="publisher" itemscope itemtype="http://schema.org/Organization")
          meta(itemprop="name" content="#{locals.name}")
          span(itemprop="logo" itemscope itemtype="http://schema.org/ImageObject")
            meta(itemprop="url" content="#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}")
            meta(itemprop="width" content="258")
            meta(itemprop="height" content="267")
          meta(itemprop="logo" content="#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}")
        span(itemprop="author" itemscope itemtype="http://schema.org/Person")
          meta(itemprop="name" content="#{page.metadata.author}")
        span(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
          meta(itemprop="url" content="#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}")
          meta(itemprop="width" content="258")
          meta(itemprop="height" content="267")
  .container.section-container.subscribe
    .row
      .col-md-offset-2.col-md-8
        include subscribe-embeded                
  
  
  if (locals.commentingSystem == "disqus")
    include disqus
  else if (locals.commentingSystem == "staticman")
    include staticman

block append javascripts
  if (locals.commentingSystem == "disqus")
    script(id="dsq-count-scr" src="//mrwill.disqus.com/count.js" async)
