extends layout

block vars
  - var bodyClass = "index-page"
  - var mathjas = "false"
  //- load mathjax if required.
  each article in articles
    if article.metadata.mathjax
      - mathjax = true
      - break

block append head
  script(type="application/ld+json").
    {
      '@context': 'http://schema.org',
      '@type': 'Blog',
      'name': '#{locals.name}',
      'description': '#{locals.description}',
      'headline': '#{locals.name}',
      'publisher': {
        '@type': 'Person',
        'name': '#{locals.owner}'
      },
      'author': {
        '@type': 'Person',
        'name': '#{locals.owner}'
      },
      'url': '#{locals.url}',
      'image':{  
        '@type':'ImageObject',
        'contentUrl':'#{locals.url}#{contents.css.images["backyardstories_cropped.png"].url}',
        "url":"{locals.url}",
        'width':'258',
        'height':'267'
       },
      'mainEntityOfPage':{  
        '@type':'WebPage',
        '@id':'#{locals.url}'
      }
    }

block content
  div.container.body-container
    .list-articles
      each article in articles
        article.article.intro(itemscope itemtype="http://schema.org/BlogPosting")
          .row
            .col-md-2.hidden-xs.hidden-sm.meta.meta-sidebar
              .data.text-muted
                span.fa.fa-calendar
                spanspan(itemprop="datePublished" content="#{article.date.getFullYear()}-#{('0' + (article.date.getMonth()+1)).slice(-2)}-#{('0' + article.date.getDate()).slice(-2)}")
                  = moment.utc(article.date).format('jDD jMMMM jYYYY')
              .comments.text-muted
                span.fa.fa-comment 
                a(href=article.url + '#disqus_thread') نظر دهید
            .col-md-8.col-sm-12(role="main")
              header
                h2
                  a(href=article.url)
                    span(itemprop="headline name")= article.title
                .meta.hidden-md.hidden-lg.text-muted
                  span.fa.fa-calendar
                  spanspan(itemprop="datePublished" content="#{article.date.getFullYear()}-#{('0' + (article.date.getMonth()+1)).slice(-2)}-#{('0' + article.date.getDate()).slice(-2)}")
                    = moment.utc(article.date).format('jDD jMMMM jYYYY')
                  span.seperator -
                  span.fa.fa-comment 
                  a(href=article.url + '#disqus_thread') نظر دهید
              .section.content
                meta(itemprop="articleBody" content="#{article.html}")
                if article.intro.length > 0
                  != typogr(article.intro).typogrify()
                if article.hasMore
                  p.more
                    a(href=article.url) ادامه مطلب...
          
          meta(itemprop="url" content="#{article.getUrl(locals.url)}")
          span(itemprop="publisher" itemscope itemtype="http://schema.org/Person")
            meta(itemprop="name" content="#{locals.owner}")
          span(itemprop="author" itemscope itemtype="http://schema.org/Person")
            meta(itemprop="name" content="#{article.metadata.author}")
          span(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
            mete(itemprop="url" content="#{locals.url}#{contents.css.images['backyardstories_cropped.png'].url}")
            meta(itemprop="width" content="258")
            meta(itemprop="height" content="267")
          
      if nextPage
        .load-more.bg-success
          p.text-center در حال بارگزاری مقالات بیشتر...
          .hidden
            a.next-page(href=locals.url + nextPage.url) صفحه بعد

  .popup
    .toggle.toggle-small.visible-xs
      .fa.fa-chevron-up
    .subscribe
      include subscribe-embeded
    .toggle.toggle-large.fa.fa-chevron-right.hidden-xs

block append javascripts
  script(id="dsq-count-scr" src="//#{locals.disqusID}.disqus.com/count.js" async)
